*{
    background-color: lightskyblue;
}

.nav {
    width: 100%;

}

.navbar-fixed {
    position: relative;
    z-index: 997;
    height: 56px;
}

nav .brand-logo {
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    padding: 0;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav ul a {
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

nav ul {
    margin: 0
}

nav ul li {
    float: left;
    padding: 0;
    transition: background-color .3s;
}

ul:bot(browser-default) {
    padding-left: 0;
    list-style-type: none;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.5rem 0 1.75rem 0;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.card {
    border: .2rem solid;
    border-color: white;
    padding: 5px;
    margin-bottom: 5px;
}

span {
    font-weight: 700;
    font-size: 2rem;
}

.card-content {
    display: flex;
    justify-content: space-between;
}
.card-details {
    flex: 1;
}

.card-image {
    margin-left: 450px;
    margin-top: -150px;
}